@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Lgreen: #64CCC5;
  
}


body {
  
  font-family: var(--font-dm-sans), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.sidebar-before {
  @apply max-md:before:absolute max-md:before:-right-64 max-md:before:top-[50%] max-md:before:h-[740px] max-md:before:w-[852px] max-md:before:bg-LightBlack max-md:before:blur-[200px] max-md:before:content-[''];
  position: relative; 
}

/* From Uiverse.io by adamgiebl */ 
#checkbox2 {
  display: none;
}

.toggle2 {
  position: relative;
  width: 36px;
  height: 36px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition-duration: .5s;
  z-index: 10;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: var(--Lgreen);
  border-radius: 6px;
}

#bar5 {
  transition-duration: .8s;
}

#bar4,#bar6 {
  width: 80%;
}

#checkbox2:checked + .toggle2 .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox2:checked + .toggle2 #bar5 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox2:checked + .toggle2 #bar4 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox2:checked + .toggle2 #bar6 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox2:checked + .toggle2 {
  transition-duration: .5s;
  transform: rotate(180deg);
}